<!DOCTYPE html>
<html>
  <head>
    <title>Aqours Setlists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul>
            <li><%=	link_to 'イベント', :controller => 'events', :action => 'index' %></li>
            <li><%=	link_to '楽曲', :controller => 'songs', :action => 'index' %></li>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
